version: "2"
services:
  app:
    build: ./app
    links:
      - db
    ports:
      - "5000:5000"

  db:
    image: postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: vinyls
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
    ports:
      - "5432:5432"