version: "3"
services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: vinyls
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d vinyls" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: ./app
    links:
      - db
    ports:
      - "5050:5050"
    depends_on:
      db:
        condition: service_healthy

  adminer:
    image: adminer
    ports:
      - "8080:8080"
    links:
      - db
